:root{
    --color-black : #000000;
    --color-blue : #8E03FB; 
    --color-white : #fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    font-family: 'Roboto';
    font-size: 62.5%;
}
body{
    height: 100%;
    padding: 0 7rem;

}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--color-black);
    cursor: pointer;
}

.nav{
    width: 100%;
    height: 9rem;
    margin-bottom: 6.9rem;
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__list{
    width: 35%;
    display: flex;
    justify-content: space-around;
}
.list__item{
    font-size: 1.8rem;
    cursor: pointer;
}
.item__link{
    cursor: pointer;
}
.nav__button{
    font-size: 1.6rem;
}
.nav__img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.footer{
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 1.5rem 0;
}
.button{
    background: var(--color-blue);
    padding: 1.5rem;
    border-radius: 1rem;
    color: var(--color-white);
    font-weight: bold;
}
.header{
    margin-bottom: 15.5rem;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.header__content{
    max-width: 45%;
}
.header__img{
    width: 40rem;
    border-radius: 1rem;
}
.content__title{
    font-size: 4.8rem;
    font-weight: 900;
    margin-bottom: 4rem;
}
.content__text{
    font-size: 2.1rem;
    opacity: .8;
    width: 75%;
    margin-bottom: 5rem;
}
.content__button{
    font-size: 1.8rem;
}
.figuras__container{
    margin-top: 3rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-around;
}
.figuras__container div{
    width: 100%;
}
.figuras{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 266px));
    justify-content: center;
    gap: 3rem;
}
.figuras__title{
    font-size: 3rem;
    text-align: center;
    padding: 1.5rem;
    margin-bottom: 2.5rem;
}
.figura__link{
    display: block;
    width: 20rem;
    height: 20rem;
}
.figura__img{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: aqua;
    border-radius: 1rem;
}
.blog{
    margin: 0 auto;
    margin-bottom: 12.7rem;
    width: 55%;
    display: grid;
    grid-template-areas: 
    "a form"
    "f form"
    "f form"
    "f b"
    ;
    grid-template-columns: 50% 2fr;
    text-align: center;
}
.blog__title{
    grid-area: a;
    font-size: 3rem;
    margin-bottom: 4rem;
}
.blog__img{
    grid-area: f;
    display: inline-block;
    width: 25rem;
    height: 25rem;
    margin: 0 auto;
    background: #a18ffd;
    border: none;
    border-radius: 1rem;
}
.blog__text{
    grid-area: form;
    font-size: 1.8rem;
    opacity: .8;
    margin-left: 3rem;
    text-align: justify;
    word-spacing: 2px;
    line-height: 2.3rem;
}

.form{
    grid-area: form;
    position: relative;
    z-index: 1;
}
.inputs__container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 266px));
    justify-content: center;
    margin-bottom: 2rem;
}
.inputs__container div{
    display: flex;
    flex-direction: column;
}
.form input{
    display: inline-block;
    max-width: 20rem;
    margin: 0 auto;
    font-size: 1.6rem;
    opacity: .8;
}
.form label{
    font-size: 1.6rem;
    display: inline-block;
    max-width: 20rem;
    margin: 0 auto;
    opacity: .8;
}
.form__button{
    max-width: 20rem;
    font-size: 1.8rem;
    position: relative;
    z-index: 2;
}
.resultados{
    grid-area: b;
}
.resultados h3{
    margin-top: 2rem;
    font-size: 2.5rem;
}
.resultados p{
    margin-top: 2rem;
    font-size: 1.8rem;
}